<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7RcZTIPygxrcrf8GYy5WbdGBfea7HCEk</string>
	<key>GCM_SENDER_ID</key>
	<string>873318761374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mosque</string>
	<key>PROJECT_ID</key>
	<string>mosque-c27a5</string>
	<key>STORAGE_BUCKET</key>
	<string>mosque-c27a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873318761374:ios:804797aa1f8d8c549a0c8f</string>
</dict>
</plist>